h1 {
    background-color: aqua;
    color: rebeccapurple
}

.piece {
    background-color: brown;
    transition: all 0.5s;
    height: 4rem;
    width: 4rem;
    position: absolute;
    /* left: 0;
    top: 0; */
}

.piece:hover {
    background-color: chartreuse;
    /* left: 1rem; */
}

.piece-board {
    position: relative;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem; */
    width: 9rem;
    height: 9rem;
}