:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.dimensions {
    display: flex;
    flex-direction: row;
}

.dimensions-block {
    display: flex;
    flex-direction: column;
}
