:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --unit-size: 0.2rem;
  font-size: 60px;
}

button {
  font-size: inherit;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.header {
  margin-top: 2rem;
  font-weight: 700;
}

.field {
  border: 0.2px solid white;
}
